.ArticlesContainer {
    border: solid;
    margin: 16px;
    padding: 16px;

    .article {
        border: dashed 1px #7a7a7a;
        margin: 16px 0;
        padding: 16px;

        &__details {
            display: flex;
            justify-content: flex-start;
        }

        &__link-container {
            margin-right: 8px;

            .article__icon {
                margin-left: 0;
            }
        }

        &__duration {
            margin: 0 8px;
        }

        &__icon {
            margin: 0 4px;
        }
    }
}
